    body {
        background: #f0f0f0;
    }
    
    nav {
        background: black;
        padding: 10px;
    }
    
    nav a {
        color: #f0f0f0;
    }
    
    nav li {
        color: white;
        list-style: none;
        display: inline;
        position: relative;
        padding-right: 30px;
        margin-left: 30px;
    }
    
    .app {
        float: right;
        margin-right: 40px;
        color: white;
    }
    
    .left {
        text-transform: uppercase;
        line-height: 2px;
        margin-left: 50px;
        font-family: 'Cinzel', serif;
        float: left;
    }
    
    .left .up {
        padding-left: 30px;
        letter-spacing: 3px;
        font-size: 20px;
    }
    
    .right-top {
        float: right;
        font-size: 10px;
        margin-right: 40px;
        word-spacing: 30px;
    }
    
    .right-top .text {
        height: 30px;
        width: 440px;
        margin-left: 10px;
    }
    
    .right-top .login {
        height: 40px;
        width: 70px;
    }
    
    .right-top .register {
        height: 40px;
        width: 70px;
    }
    
    .right-top .cart {
        height: 40px;
        width: 70px;
    }
    
    .right-top .checkout {
        height: 40px;
        width: 70px;
    }